@media screen and (max-width: 960px) {
  header {
    background: none;
  }
  header .logo {
    width: 600px;
  }
  header .menu {
    display: none;
  }
  header .btn-mobile {
    display: block;
  }
  header .btn-mobile ion-icon {
    color: #fff;
    font-size: 1.5rem;
  }
  header .menu-mobile {
    background-color: #24aa9d;
    display: none;
    width: 40%;
    height: 24vh;
    position: fixed;
    top: 20px;
    border-radius: 10px;
  }
  header .menu-mobile ul {
    text-align: center;
  }
  header .menu-mobile ul li {
    list-style: none;
    padding: 12px 0;
  }
  header .menu-mobile ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
  #home .container .icons {
    padding: 0 20px;
  }
  #home .container .title {
    align-items: center;
  }
  #home .container .title h1 {
    font-size: 5rem;
  }
  #home .container .title h2 {
    font-size: 1.2rem;
  }
  #home .container .title h3 {
    font-size: 0.9rem;
  }
  #about .container .title {
    align-items: center;
  }
  #about .container .box-title {
    width: 100%;
    height: 37vh;
  }
  #about .container .box-title .b1 {
    width: 100%;
  }
  #port .container .card h1 {
    font-size: 2.7rem;
  }
  #port .container .card p {
    width: 220px;
  }
  #contact .container .content-contact {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #contact .content-contact .contact-left h1 {
    font-size: 1.5rem;
  }
  #contact .content-contact .contact-left ion-icon {
    font-size: 1.5rem;
    padding: 5px 0;
  }
  #contact .content-contact .contact-left span {
    font-size: 1rem;
    padding: 5px 0;
  }
  #contact .content-contact .contact-right h1 {
    font-size: 1.5rem;
    margin-top: 80px;
  }
  #contact .content-contact .contact-right input[type="email"],
  #contact .content-contact .contact-right input[type="text"] {
    padding: 10px 15px;
    font-size: 1rem;
  }
  #contact .content-contact .contact-right textarea {
    padding: 10px 15px;
    font-size: 1rem;
  }
}
