@media screen and (max-width: 750px) {
  header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  header .logo{
    width: 30vw;
  }

  header .logo {
    display: none;
  }
  header .menu-mobile {
    left: 95px;
  }
  /* home */
  #home .container .title h1{
    letter-spacing: 5px;
    font-size: 2.5rem;
    margin: 10px;
  }
  #home .container .title h2 {
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 5px;
  }
  #home .container .title h3 {
    letter-spacing: 0px;
    margin: 5px;
  }
  /* about */
  #about .container .title {
    padding: 10px 60px;
  }
  #about .container .title p {
    width: 100%;
    margin-top: 30px;
  }
  #port .container .card {
    width: 40vw;
    height: 50%;
  }
  #contact .content-contact .linha {
    width: 70vw;
  }
}
