@media screen and (max-width: 960px) {
  body {
    background: url(../image/CREATIVE_3.png);
  }

  header {
    background: url(../image/CREATIVE_3.png);
  }

  header .logo {
    width: 600px;
  }
  
  header .menu {
    display: none;
  }

  header .btn-mobile {
    display: block;
  }

  header .btn-mobile ion-icon {
    color: #fff;
    font-size: 1.5rem;
  }

  header .menu-mobile {
    display: none;
    width: 50%;
    height: 20vh;
    box-shadow: 0 0 15px 0 rgba(21, 111, 195, 0.5);
    position: fixed;
    top: 20px;
    border-radius: 10px;
    background: #156fc3;
  }

  header .menu-mobile ul {
    text-align: center;
  }
  
  header .menu-mobile ul li {
    list-style: none;
    padding: 12px 0;
  }

  header .menu-mobile ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
}