@font-face {
  font-family: "helvetica";
  src: url(font/HelveticaNowDisplay-Medium.ttf) format(opentype);
}

:root {
  --cor0: #878a8f;
  --cor1: #0f141e;
}

header {
  margin: 10px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "helvetica";
}

div#fundo-designer {
  position: relative;
}

img#designer-img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: calc(60px + 5%);
  z-index: 0;
  padding: 0 40px;
  -webkit-filter: drop-shadow(18px 18px 16px rgb(235, 235, 235));
  filter: drop-shadow(18px 18px 16px rgb(245, 245, 245));
}

div#fundo-pedro {
  position: relative;
  visibility: visible;
}

img#foto-pedro {
  float: right;
  height: 50vh;
}

div.corpo-info {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  width: 93.333333%;
}

h2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

div h1 {
  font-size: 3.875rem;
  line-height: 4.0625rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

div h3 {
  margin-top: 20px;
  font-weight: 500;
  color: var(--cor0);
  letter-spacing: normal;
  font-size: 1.375rem;
  line-height: 1.875rem;
  padding-top: 2px;
  padding-bottom: 3px;
}
