@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 99;
}

header .logo {
  width: 50%;
}

header .logo img {
  width: 140px;
}

header .menu ul {
  display: flex;
}

header .menu ul li {
  padding: 0 20px;
  list-style: none;
}

header .menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s ease;
}

header .menu ul li a:hover {
  color: #156fc3;
}

/* Main Home */

#home .container {
  width: 100%;
  height: 100vh;
  background: url(../image/CREATIVE.png);
  background-size: cover;
}

#home .container .icons {
  width: 10%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  position: fixed;
  z-index: 999;
}

#home .container .icons ion-icon {
  padding: 30px 0;
  font-size: 2rem;
  color: #fff;
  transition: 0.5s ease;
}

#home .container .icons ion-icon:hover {
  color: #156fc3;
}

#home .container .title {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 60px;
}

#home .container .title h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 5px;
}

#home .container .title h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 40px;
  margin-left: 30px;
}

#home .container .title h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 30px;
  margin-top: 30px;
  margin-left: 35px;
}

/* About */

#about .container {
  width: 100%;
  height: 100vh;
  background: url(../image/CREATIVE_2.png);
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

#about .container .title {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 60px;
}

#about .container .title h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
}

#about .container .title p {
  color: #fff;
  width: 500px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
}

#about .container .box-title {
  width: 420px;
  height: 37vh;
  margin-top: 20px;
  padding: 0 10px;
  box-shadow: 0 0 10px 0 rgba(21, 111, 195, 0.5);
  border-radius: 20px;
}

#about .container .box-title span {
  color: #fff;
}

#about .container .box-title .b1 {
  width: 400px;
  height: 8px;
  background-color: #fff;
  margin-top: 2px;
  border-radius: 5px;
}

#about .container .box-title .b2 {
  width: 320px;
  height: 8px;
  background: #156fc3;
  border-radius: 5px;
}

#about .container .box-title .b3 {
  width: 200px;
  height: 8px;
  background: #156fc3;
  border-radius: 5px;
}

#about .container .box-title .b4 {
  width: 180px;
  height: 8px;
  background: #156fc3;
  border-radius: 5px;
}

#about .container .box-title .b5 {
  width: 68px;
  height: 8px;
  background: #156fc3;
  border-radius: 5px;
}
